<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>编辑文章</title>
  <link rel="stylesheet" href="../../static/css/fontawesome.min.css" />
  <link rel="stylesheet" href="../../static/ui/jquery-ui.min.css" type="text/css" />
  <link rel="stylesheet" href="../../static/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../../static/css/templatemo-style.css">
  <link rel="stylesheet" href="../../static/css/elementUi.css">
  <script src="../../static/js/jquery-3.3.1.min.js"></script>
  <script src="../../static/ui/jquery-ui.min.js"></script>
  <script src="../../static/js/bootstrap.min.js"></script>
  <script src="../../static/js/vue.min.js"></script>
  <script src="../../static/js/elementUi.js"></script>
  <script src="https://unpkg.com/wangeditor@3.1.1/release/wangEditor.min.js"></script>
  <script src="../../static/js/request.js"></script>

  <style>
    [v-cloak]{
      display:none
    }
    #editor{
      margin-bottom:20px;
      width: 100%;
      background: #fff;
    }
    .w-e-text{
      overflow-y: auto;
    }
    .tm-product-img-dummy > img{
      height: 100%;
      width: 100%;
    }
  </style>
</head>
<body>
<div id="app" v-cloak>
  <nav class="navbar navbar-expand-xl">
    <div class="container h-100">
      <a class="navbar-brand" href="index.html">
        <h1 class="tm-site-title mb-0">Product Admin</h1>
      </a>
      <button
              class="navbar-toggler ml-auto mr-0"
              type="button"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
      >
        <i class="fas fa-bars tm-nav-icon"></i>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto h-100">
         <li class="nav-item">
             <a class="nav-link" href="/index">
               <i class="fas fa-tachometer-alt"></i> 数据统计
               <span class="sr-only">(current)</span>
             </a>
           </li>
          <li class="nav-item dropdown">
            <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    id="navbarDropdown"
                    role="button"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
            >
              <i class="far fa-file-alt"></i>
              <span>更多功能<i class="fas fa-angle-down"></i> </span>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/newsList">文章列表</a>
              <a class="dropdown-item" href="/authorList">作者列表</a>
              <a class="dropdown-item" href="/activityList">活动列表</a>
              <a class="dropdown-item" href="/productList">产品列表</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="javascript:;">
              <i class="fas fa-shopping-cart"></i>
              编辑文章
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/userList">
              <i class="far fa-user"></i> 用户信息
            </a>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link d-block" href="javascript:;" @click="loginOut">
              <span>{{currentUser.username}}</span>
              <img
                      style="width: 50px;height: 50px;border-radius: 50%"
                      :src="currentUser.purl"
                      alt="">
              退出
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container tm-mt-big tm-mb-big">
    <div class="row">
      <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
        <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
          <div class="row">
            <div class="col-12">
              <h2 class="tm-block-title d-inline-block">编辑文章</h2>
            </div>
          </div>
          <div class="row tm-edit-product-row">
            <div class="col-xl-6 col-lg-6 col-md-12">
              <form action="" class="tm-edit-product-form">
                <div class="form-group mb-3">
                  <label
                          for="name"
                  >文章标题
                  </label>
                  <input
                          v-model="from.title"
                          id="name"
                          name="name"
                          type="text"
                          class="form-control validate"

                  />
                </div>
                <div class="form-group mb-3">
                  <label
                          for="description"
                  >关键词</label
                  >
                  <input v-model="from.keyword" class="form-control validate" placeholder="注：关键词请用逗号隔开。如：票据，ABS，"/>
                </div>
                <div class="form-group mb-3">
                  <label
                          for="category"
                  >作者</label
                  >
                  <select class="custom-select tm-select-accounts" v-model="from.author">
                    <option v-for="(item,index) in author" :value="item.id">{{item.name}}</option>
                  </select>
                </div>
                <div class="form-group mb-3">
                  <label
                          for="category"
                  >文章类型</label
                  >
                  <select class="custom-select tm-select-accounts" v-model="from.newstype">
                    <option v-for="(items,idx) in articleType" :value="items.typeid">{{items.name}}</option>
                  </select>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 mx-auto mb-4">
              <div class="tm-product-img-dummy mx-auto">
                <img :src="from.toppicture" alt="">
              </div>
              <div class="custom-file mt-3 mb-3">
                <input id="fileInput" type="file" style="display:none;"  @change="addImg($event)"/>
                <input
                        type="button"
                        class="btn btn-primary btn-block mx-auto"
                        value="上传封面图片"
                        onclick="document.getElementById('fileInput').click();"
                />
              </div>
            </div>
            <div id="editor"></div>
            <div class="col-12">
              <button class="btn btn-primary btn-block text-uppercase" @click="saveArticles">更新文章</button>
            </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
    let E = window.wangEditor
    let editor = new E('#editor')
    let app = new Vue({
        el: '#app',
        data: {
            currentUser: JSON.parse(localStorage.getItem('userInfo')),
            author:[],
            articleType: [],
            from: {
                newstype: null,
                author: null,
                title: '',
                keyword: '',
                toppicture: '',
                content: '',
            }
        },
        mounted() {
            this.createE();
            this.getInfo();
            this.getDetail()

        },
        methods: {
            getQueryStringRegExp(name){
                let reg = new RegExp("(^|\\?|&)"+ name +"=([^&]*)(\\s|&|$)", "i");
                if (reg.test(location.href)) return unescape(RegExp.$2.replace(/\+/g, " ")); return "";
            },
            createE() {
                editor.customConfig.showLinkImg = false
                editor.customConfig.customUploadImg = function (files, insert) {
                    files.map((item,index) => {
                        let formData = new FormData();
                        formData.append('file',item)
                        upFile(formData,'uplode/image').then(res => {
                            insert(res)
                        }, err => {
                            console.log(err)
                        })
                    })
                };
                editor.customConfig.onchange = (html) => {
                    this.from.content = html
                };
                editor.create()
            },
            loginOut() { //退出
                window.close();
                window.open('./login.html','_blank')
            },

            addImg(e) { //上传封面图片
                let formData = new FormData();
                formData.append('file',e.target.files[0]);
                upFile(formData,'uplode/image').then(res => {
                    this.from.toppicture = res
                }, err => {
                    console.log(err)
                })
            },

            getInfo() { //获取信息
                postPromise({},'news/getAT').then(res => {
                    if(res.flag == 0) {
                        this.articleType = res.map.newsType;
                        this.author = res.map.author;
                    }
                } ,err => {
                    console.log(err)
                })
            },

            saveArticles() { //保存文章
                //this.from.id = this.getQueryStringRegExp('id');

              delete this.from.creattime
                postPromise(this.from,'news/up').then(res => {
                    if(res.flag == 0) {
                        this.$message({
                            message: '更新成功',
                            type: 'warning'
                        });
                    }
                } ,err => {
                    console.log(err)
                })
            },
            getDetail() {
                postPromise({id: this.getQueryStringRegExp('id')},'news/selById').then(res => {
                    if(res.flag == 0) {
                        this.from = res.map.news
                        editor.txt.html(res.map.news.content)
                    }
                }, err => {

                })
            }
        }
    })
</script>
</body>
</html>
