.article{
	padding: 0 20px;
    height: 6rem;
    background: #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.3rem
}
.article > div:nth-child(1){
	display: flex;
	justify-content: center;
	margin-top: .8rem
}
.articleList{
	margin-top: 1rem
}
.articleList > li{
	height: 6rem;
	background: #ccc;
	display: flex;
	justify-content: space-between;
	padding: 0 20px;
	margin-bottom: .8rem;
}
.articleList > li > div{
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.articleList > li > img{
	height: 100%;
	width: 6rem;
}
.news > img{
	width: 100%;
	display: block;
	height: 15rem
}
.el-carousel__arrow{
	top: 35% !important;
}