.article{
	padding: 0 20px;
    height: 6rem;
    background: #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.3rem
}
.article > div:nth-child(1){
	display: flex;
	justify-content: center;
	margin-top: .8rem
}
.articleList{
	margin-top: 1rem
}
.articleList > li{
	height: 6rem;
	background: #ccc;
	display: flex;
	justify-content: space-between;
	padding: 0 20px;
	margin-bottom: .8rem;
}
.articleList > li > div{
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.articleList > li > img{
	height: 100%;
	width: 6rem;
}
.news > img{
	width: 100%;
	display: block;
	height: 15rem
}
.el-carousel__arrow{
	top: 35% !important;
}

.details{
	padding: 0 1rem;
	min-height: 35rem;
	margin-top: 2rem;
}

#index{
	font-size: 2rem;
}
.details > .title{
	
}
.fun{
	display: flex;
	justify-content: space-between;
	margin-top: .8rem;
}
.fontW1{
	font-size: 2rem;
	margin-right: 1rem;
}
.fontW2{
	font-size: 1.6rem;
}
.setting{
	display: flex;
}
.setting > div{
	display: flex;
	align-items:center;
	justify-content: center;
	color: #666fff;
	width: 2.2rem;
	height: 2.2rem;
	border:1px solid #ccc;
}
.acitve{
	background: #666fff;
	color: #fff !important;
}

.tab{
	display: flex;
	flex-wrap: wrap;
	margin:.8rem 0;
}
.tab > div{
	padding: .2rem .8rem;
	border: 1px solid #ccc;
	margin-right: .8rem;
	border-radius: 10px
}
.item{
	display: flex;
	justify-content: space-between;
	height: 6rem;
	background: #a7bbbe;
	padding: 0 .8rem;
	margin-bottom: 1rem;
}
.itemTitle{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.itemTime{
	font-size: 1.2rem;
}
.itemImg{
	height: 100%;
	width: 8rem
}
.itemImg > img{
	height: 100%;
	width: 100%
}