*{
	margin: 0;
	padding: 0;
}
html{
	font-size: 2.2rem ;
}
ul li{
	list-style: none;
}
a{
	color: #333;
	text-decoration: none;
}
.head{
	padding: 0 1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 5rem;
}
.head > img{
	width: 9rem;
}
.search{
	width: 2rem;
	height: 2rem;
}
.current{
	color: #13A7F9;
	height: 100%;
	padding: 0 .5rem;
}
.nav{
	display: flex;
	justify-content: space-between;
	padding: 0 1rem;
	align-items: center;
	height: 5rem;
	font-size: 1.8rem;
	background-color:#f0f0f0;
}
.currentLine{
	width: 100%;
	position: absolute;
	height: .2rem;
	background: #13A7F9;
	bottom: 0
}
.nav > li{
	height: 100%;
	position: relative;
	width: 15%
}
.nav > li >a{
	display: flex;
	align-items: center;
	height: 100%;
	justify-content: center;
}
.footer{
	height: 3rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 1rem 0;
	font-size: 1.4rem;
	background-color:#333333;
	color: #fff
}
.content{
	padding: 0 1rem;
	min-height: 53rem
}
 [v-cloak]{
    display: none
 }
 .paging{
 	display: flex;
 	align-items: center;
 	justify-content: center;
 	height: 4rem;
 }
.el-pager > .number{
 	width: 2rem !important;
 	height: 2rem !important;
 	line-height: 2rem !important
 }
 .btn-prev,.btn-next,.more{
 	width: 2rem !important;
 	height: 2rem !important;
 	line-height: 2rem !important
 }
.overH{
	width: 15rem;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}

.el-icon-document,.el-icon-tickets{
	color: #9fcad7;
	margin-right: .5rem;
	font-size: 1.8rem
}

.nonews{
	font-size: 16px;
	margin-bottom: 20px;
	padding: 0 .8rem
}


.outFade{
	opacity: 0 !important;
}

.inFade{
	opacity: 1 !important;
}

.twoLine{
	 text-overflow: -o-ellipsis-lastline;
	  overflow: hidden;
	  text-overflow: ellipsis;
	  display: -webkit-box;
	  -webkit-line-clamp: 2;
	  line-clamp: 2;
	  -webkit-box-orient: vertical;
}
.border-line{
	width: 100%;
	background: #F4F4F4;
	height: 1rem
}