<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>作者详情</title>
	<link rel="stylesheet" type="text/css" href="../../static/Phonecss/public.css">
	<link rel="stylesheet" type="text/css" href="../../static/Phonecss/author.css">
	<link rel="stylesheet" type="text/css" href="../../static/css/elementUi.css">
	<script type="text/javascript" src="../../static/js/font.js"></script>
	<script type="text/javascript" src="../../static/js/vue.min.js"></script>
	<script type="text/javascript" src="../../static/js/request.js"></script>
	<script type="text/javascript" src="../../static/js/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="../../static/js/elementUi.js"></script>
</head>
<body>
	<div id="index" v-cloak>
		<div class=author_Info>
			<div class="userImg">
				<img :src="info.headpicture">
			</div>
			<div class="userName">da</div>
			<div class="shnefen">{{info.identity}}</div>
		</div>
		<div class="jianjie">
			<div>作者简介:</div>
			<p>{{info.introduce}}</p>
		</div>
		<div class="xaingqing">
			<div>作者详情:</div>
			<p v-html="info.explain"></p>
		</div>
		<ul class="author_InfoList">
			<li v-for="(item,index) in list">
				<div class="title">
					<span>{{item.title}}</span>
					<span>{{item.creattime}}</span>
				</div>
				<div class="fenmain">
					
					<img :src="item.toppicture">
				</div>
			</li>
		</ul>
		<div class="paging" v-if="total > 10">
			<el-pagination
				@current-change="swichPage"
			 	background
			  	layout="prev, pager, next"
			  	:total="total">
			</el-pagination>
		</div>
	</div>	
</body>
<script type="text/javascript">
	let app = new Vue({
		el: '#index',
		data: {
			info:{},
			list: [],
			pageNum: 1,
			pageSize: 10,
			total: 1,
		},
		mounted() {
			this.getIngo(this.getQueryStringRegExp('id'),this.pageNum,this.pageSize)
		},
		methods:{
			getQueryStringRegExp(name){
                let reg = new RegExp("(^|\\?|&)"+ name +"=([^&]*)(\\s|&|$)", "i");
                if (reg.test(location.href)) return unescape(RegExp.$2.replace(/\+/g, " ")); return "";
            },
            getIngo(id,pageNum,pageSize) {
            	let data = {
            		id,
            		pageNum,
            		pageSize
            	}
            	postPromise(data,'author/selById').then(res => {
					if(res.flag == 0) {
						console.log(res)
						this.info = res.map.author
						this.total = res.number
						this.list = res.map.pageList
					}
				})
            },
            swichPage(e) {
				this.getIngo(this.getQueryStringRegExp('id'),e,this.pageSize)
			},

		}
	})
</script>
</html>