<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
	<title>文章列表</title>
	<link rel="stylesheet" type="text/css" href="../../static/Phonecss/public.css">
	<link rel="stylesheet" type="text/css" href="../../static/Phonecss/article.css">
	<link rel="stylesheet" type="text/css" href="../../static/css/elementUi.css">
	<link rel="stylesheet" type="text/css" href="../../static/css/swiper.min.css">
	<script type="text/javascript" src="../../static/js/font.js"></script>
	<script type="text/javascript" src="../../static/js/vue.min.js"></script>
	<script type="text/javascript" src="../../static/js/request.js"></script>
	<script type="text/javascript" src="../../static/js/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="../../static/js/elementUi.js"></script>
	<script src="../../static/js/swiper.min.js"></script>
	 <style type="text/css">
		.swiper-container{
			height:15rem;
		}
		.swiper-slide{
			position: relative;
		}
		.swiper-slide img{
			height:100%;
			width: 100%
		}
    	.imgTitle{
    		position: absolute;
    		color: #fff;
    		line-height: 1.3rem;
    		bottom: 2rem;
    		padding: 0 1.2rem;
    		font-size: 16px
    	}
	 </style>
</head>
<body >
	<div id="index">
		<div class="head">
			<img src="../../static/img/logo.png">
			<div >
				<img src="../../static/img/search.png" class="search" @click="goSearch">
			</div>
		</div>
		<ul class="nav">
			<li>
				<a :class="newsType == 1? 'current' : ''" href="javascript:;" @click="currentNew(1)">热点
				</a>
				<div :class="newsType == 1? 'currentLine' : ''"></div>
			</li>
			<li>
				<a :class="newsType == 2? 'current' : ''" href="javascript:;" @click="currentNew(2)">新政</a>
				<div :class="newsType == 2? 'currentLine' : ''"></div>
			</li>
			<li><a  href="/authorListPhone">百家</a></li>
			<li>
				<a :class="newsType == 3? 'current' : ''" href="javascript:;" @click="currentNew(3)">课堂</a>
				<div :class="newsType == 3? 'currentLine' : ''"></div>
			</li>
			<li><a href="/activityPhone">活动</a></li>
			<li><a href="/surplusticketlist">盈票</a></li>
		</ul>
		<div v-if="list == ''" class="noDate">暂无数据</div>
		
		<!-- <div class="swiper-container">
			    <div class="swiper-wrapper">
			      	<div class="swiper-slide" v-for="(item,index) in list.slice(0,3)" :key="index">
			      		<div class="news">
			      			{{index}}
							
			      			
						</div>
			      	</div>
				   http://xy-hzj.oss-cn-shanghai.aliyuncs.com/APP/1573090691144.jpg
			    </div>
		</div> -->
		<div  class="swiper-container">
		    <div class="swiper-wrapper">
		     <!--  <div class="swiper-slide" v-for="(item,index) in list.slice(0,3)" :key="index">
		      	<img :src="item.toppicture" @click="detail(item)">
		      </div> -->
		       <div class="swiper-slide">
		      		<img :src="lunbo1.toppicture" @click="detail(lunbo1)">
		      		<div class="imgTitle">
		      			{{lunbo1.title}}
		      		</div>
		      	</div>
		      	<div class="swiper-slide">
		      		<img :src="lunbo2.toppicture" @click="detail(lunbo2)">
		      		<div class="imgTitle">
		      			{{lunbo2.title}}
		      		</div>
		      	</div>
		      	<div class="swiper-slide">
		      		<img :src="lunbo3.toppicture" @click="detail(lunbo3)">
		      		<div class="imgTitle">
		      			{{lunbo3.title}}
		      		</div>
		      	</div>
		    </div>
		</div>

		<ul class="articleList" v-if="list != ''">
			<li v-for="(item,index) in list.slice(3)" @click="detail(item)">
				<div>
					<div class="newTs">
						<div class="creatTitle twoLine">{{item.title}}</div>
						<div class="creattime">{{item.creattime}}</div>
					</div>
					<img :src="item.toppicture">
				</div>
			</li>
		</ul>
		<div class="paging" v-if="total > 5">
			<el-pagination
				@current-change="swichPage"
			 	background
			  	layout="prev, pager, next"
			  	:total="total">
			</el-pagination>
		</div>
		<div class="footer">
			<div>© 2019，盈科票据版权所有 /粤ICP备19049968号-1</div>
			<div>热线电话：400-0192-188</div>
		</div>
	</div>
</body>
<script type="text/javascript">
	let app = new Vue({
		el: '#index',
		data: {
			list: [],
			pageNum: 1,
			pageSize: 10,
			total: 1,
			newsType: 1,
			lunbo1: {},
			lunbo2: {},
			lunbo3: {},
		},
		mounted() {
			if(this.getQueryStringRegExp('id') == '' ) {
				this.getList(this.pageSize,this.pageNum,this.newsType)
			}else {
				this.newsType = this.getQueryStringRegExp('id')
				this.getList(this.pageSize,this.pageNum,this.getQueryStringRegExp('id'))
			}
			
		
			
		　　 this.$nextTick(() => {  // 下一个UI帧再初始化swiper
		       this.initSwiper();
		      
		     });

		},
		methods:{
			initSwiper () {
			    let mySwiper = new Swiper ('.swiper-container', {
			      centeredSlides: true,
			      autoplay: {
			        delay: 2500,
			        disableOnInteraction: false,
			      },
			    })
			},
			getQueryStringRegExp(name){
                let reg = new RegExp("(^|\\?|&)"+ name +"=([^&]*)(\\s|&|$)", "i");
                if (reg.test(location.href)) return unescape(RegExp.$2.replace(/\+/g, " ")); return "";
            },
            getList(pageSize,pageNum,newsType){
				let data = {
					pageSize,
					pageNum,
					newsType
				}
				postPromise(data,'news/byType').then(res => {
					if(res.flag == 0) {
						this.total = res.number
						res.map.pageList.map((item,index) => {
							item.creattime = item.creattime.replace(/-/g, '/').substring(0,item.creattime.length-3)
							if(index == 0) {
								this.lunbo1 = item
							}
							if(index == 1) {
								this.lunbo2 = item
							}
							if(index == 2) {
								this.lunbo3 = item
							}
						})
						
						this.list = res.map.pageList;
						
					}
				})
			},
			swichPage(e) {
				this.getList(this.pageSize,e,this.newsType)
			},

			currentNew(e){
				this.newsType = e
				this.getList(this.pageSize,1,e)
			},
			detail(item){
				window.location.href = '/articleDetails?id='+ item.newsid +"&"+'currentId=' + this.newsType
			},
			goSearch() {
				window.location.href = '/search';
			}

		}
	})
</script>
</html>