<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>盈票列表</title>
	<link rel="stylesheet" type="text/css" href="../../static/Phonecss/public.css">
	<link rel="stylesheet" type="text/css" href="../../static/Phonecss/surplusticket.css">
	<link rel="stylesheet" type="text/css" href="../../static/css/elementUi.css">
	<script type="text/javascript" src="../../static/js/font.js"></script>
	<script type="text/javascript" src="../../static/js/vue.min.js"></script>
	<script type="text/javascript" src="../../static/js/request.js"></script>
	<script type="text/javascript" src="../../static/js/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="../../static/js/elementUi.js"></script>
</head>
<body>
	<div id="index" v-cloak>
		<div class="head">
			<img src="">
			<div >
				<img src="" class="search">
			</div>
		</div>
		<ul class="nav">
			<li><a href="./mews-list.html?id=1">热点</a></li>
			<li><a href="./mews-list.html?id=2">新政</a></li>
			<li><a href="./author-list.html">百家</a></li>
			<li><a href="./mews-list.html?id=3">课堂</a></li>
			<li><a href="./activity-list.html">活动</a></li>
			<li><a class="current" href="javascript:;">盈票</a></li>
		</ul>
		<div class="content">
			<div class="style">
				<img src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=3357786243,3135716437&fm=26&gp=0.jpg">
				<div>
					<strong style="display: flex;justify-content: center;padding-top: 1rem">关于盈票</strong>
					<p style="padding:.8rem">这是内容介绍</p>
				</div>
			</div>
			<ul style="margin-bottom: 2rem">
				<li style="margin-bottom: 3rem" v-for="(item,index) in list">
					<div class="icon">
						<img :src="item.icon">
					</div>
					<strong class="title">{{item.name}}</strong>
					<p class="lsitContent">{{item.introduce}}</p>
					<div class="look">
						<div>详细了解</div>
					</div>
				</li>
			</ul>
		</div>
		<div class="paging" v-if="total > 10">
			<el-pagination
				@current-change="swichPage"
			 	background
			  	layout="prev, pager, next"
			  	:total="total">
			</el-pagination>
		</div>
		<div class="footer">
			<div>备案信息</div>
			<div>联系方式</div>
		</div>
	</div>
</body>
<script type="text/javascript">
	let app = new Vue({
		el: '#index',
		data: {
			list: [],
			pageNum: 1,
			pageSize: 10,
			total:1,
		},
		mounted() {
			this.getList(this.pageNum,this.pageSize)
		},
		methods:{
			getList(pageNum,pageSize){
				let data = {
					pageNum,
					pageSize,
					
				}
				postPromise(data,'product/pagingSel').then(res => {
					if(res.flag == 0) {
						this.total = res.number
						this.list = res.map.pageList
					}
				})
			},
			swichPage(e) {
				this.getList(e,this.pageSize)
			}
		}
	})
</script>
</html>